.Homework {
    padding: 2%;
}

.Homework a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.Homework h2 {
    padding: 2%;
    color: red;
}

.HomeworkBorder {
    width: 80%;
    height: 1px;
    background: #fff;
}

@media (max-width: 768px) {
    .Homework {
        padding: 4%;
    }
}