.HalfHeroCard {
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    text-align: center;
    color: #000;
}

.HalfHeroCard h1 {
    padding-top: 20%;
}

@media (max-width: 768px) {
    .HalfHeroCard h1 {
        padding-top: 60%;
    }
}

@media (min-width: 768px) {
    .HalfHeroCard {
        min-height: 20vw;
    }
}

@media (min-width: 1200px) {
    .HalfHeroCard {
        min-height: 400px;
    }
}
