.StaffProfile {
    text-align: center;
}

.OurTeam {
    text-align: center;
    position: relative;
    color: #fff;
    width: 100%;
}

.OurTeam:before {
    content: "";
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition:all 0.3s ease 0s;
    opacity: 0;
}

.OurTeam:hover:before {
    opacity: 1;
}

.OurTeam img {
    width: 300px;
    height: auto;
}

.OurTeam .TeamContent {
    padding: 30px;
}

.OurTeam:hover .TeamContent {
    bottom: 20%;
}

.OurTeam .TeamContent .Name {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 7px;
    text-transform: uppercase;
    transition:all 0.3s ease 0s;
}

.OurTeam:hover .TeamContent .Name {
    transform:translateY(30px);
    transition-delay:0.3s;
}

.OurTeam .TeamContent .Post {
    font-size: 17px;
    display: block;
    transition:all 0.3s ease 0s;
}

.OurTeam:hover .TeamContent .Post {
    transform:translateY(-30px);
    transition-delay:0.3s;
}

@media screen and (max-width:990px) {

    .OurTeam {
        margin-bottom: 30px !important;
    }
}

.social-details {
    font-size: 40px;
    text-align: center;
    padding: 2%;
}

.FlexContainerLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FlexChildLink {
    flex: 0.3;
}

.social-details #faLinkedin {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8%;
}

.social-details #faEnvelope {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8%;
}


.social-details #faLinkedin {
    transition: all 500ms ease;
    cursor: pointer;
    color: #fff;
}

.social-details #faEnvelope {
    transition: all 500ms ease;
    cursor: pointer;
    color: #fff;
}

.social-details #faLinkedin:hover {
    background: #0e76a8;
    transition: all 500ms ease;
}

.social-details #faEnvelope:hover {
    background: rgba(176, 17, 17, 0.85);
    transition: all 500ms ease;
}