* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

p {
    font-size: 20px;
}

.BreathingSpaceSmall {
    padding: 2%;
}

.BreathingSpaceMedium {
    padding: 4%;
}

@media (max-width: 768px) {
    .SpaceForPhone {
        padding: 8%;
    }
}