.GrayWallpaperClipUp {
    background: #181818;
    clip-path: polygon(100% 0, 100% 90%, 54% 94%, 0 100%, 0 0);
}

.GrayWallpaperClipDown {
    background: #181818;
    clip-path: polygon(48% 5%, 100% 10%, 100% 35%, 100% 100%, 71% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

.GrayWallpaper {
    background: #181818;
}

@media (max-width: 768px) {

    .GrayWallpaperClipUp {
        clip-path: polygon(100% 0, 100% 97%, 57% 98%, 0 100%, 0 0);
    }

    .GrayWallpaperClipDown {
        clip-path: polygon(53% 1%, 100% 2%, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    }
}